# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
bank/
.env

# Uv package manager
uv.lock
pyproject.toml

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Airflow
airflow.db

# Docker
*.pid

# Secrets
config.yaml
.env.local
